doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv= 'X-UA-Compatible',content='IE=edge')
        meta(name='viewport',content='initial-scale=1.0',width='device-width')
        title Expert System
    body
        div.introduction
            p.introduction_words
                |Новые фреймворки и инструменты для тестирования кода и юзабилити появляются каждый день. 
                |Данная экспертная система призвана помочь в выборе инструмента тестирования.                
                |Ниже представлен список инструментов для тестирования программного кода, которые подходят под разные нужды:

            div.introduction_firstList
                //-----------------mixins-------------------------
                //-for links
                mixin link(href,name)
                    a(href=href)&attributes(attributes)=name 
                        
                +link('https://jasmine.github.io/','Jasmine')(class="introduction_jasmine")
                br
                +link('https://mochajs.org/','Mocha')(class="introduction_mocha")
                br
                +link('http://www.chaijs.com/','Chai')(class="introduction_chai")
                br
                +link('http://qunitjs.com/','QUnit')(class="introduction_qunit")
                br
                +link('http://sinonjs.org/','Sinon')(class="introduction_sinon")
                br
                +link('http://karma-runner.github.io/1.0/index.html','Karma')(class="introduction_karma")

            div.introduction.secondList
                +link('https://www.seleniumhq.org/','Selenium')(class="introduction_selenium")
                br
                +link('http://webdriver.io/','WebdriverIO')(class="introduction_webdriverio")
                br
                +link('http://nightwatchjs.org/','Nightwatch')(class="introduction_nightwatch")
                br
                +link('https://github.com/HuddleEng/PhantomCSS',' PhantomCSS')(class="introduction_phantomcss")
                br
                +link('https://github.com/HuddleEng/PhantomFlow','PhantomFlow')(class="introduction_phantomflow")
                br
                +link('https://percy.io/','Percy.io')(class="introduction_percy.io")
                //------------------------------------------------
        button(id="seven",title="Help") Помощь

        div.firstQ
            h1.firstQ_question Умеете ли вы пользоваться инструментами и фреймворками для тестирования?
            p
                input.firstQ_YES(type="radio",name="radio1",value="HAVE" required)
                |Имеется опыт
            p    
                input.firstQ_NO(type="radio",name="radio1",value="HAVEN'T" required)
                |Раньше не работал
        br

        div.secondQ
            h1.secondQ_question Играет ли роль производительность в вашем проекте(тесты будут выполняться синхронно или асинхронно)?
            p   
                input.secondQ_YES(type="radio",name="radio2",value="IMPORTANT" required)
                |Играет
            p
                input.secondQ_NO(type="radio",name="radio2",value="NO IMPORTANT" required)
                |Роли не играет
        
        br

        div.thirdQ
            h1.thirdQ_question Какую среду тестирования Вы бы выбрали?
            p
                input.thirdQ_console(type="radio",name="radio3",value="console" required)
                |Консоль
            p
                input.thirdQ_browser(type="radio",name="radio3",value="browser" required)
                |Браузер

        br
        
        div.fourthQ
            h1.fourthQ_question Важно ли наличие таких библиотек,как:"test doubles" и "assertions"?
            p
                input.fourthQ_YES(type="radio",name="radio4",value="YES,IMPORTANT" required)
                |Да,важно
            p
                input.fourthQ_NO(type="radio",name="radio4",value="NO,NO IMPORTANT" required)
                |Нет,не особо

        br

        div.fifthQ
            h1.fifthQ_question Важно ли наличие "Sinon Fake Server(поддельный сервер)"?(Позволяет установить поддельные ответы на определенные AJAX запросы)
            p
                input.fifthQ_YES(type="radio",name="radio5",value="NEED" required)
                |Важно
            p
                input.fifthQ_NO(type="radio",name="radio5",value="NO NEED" required)
                |Не имеет значения

        br

        div.sixthQ
            h1.sixthQ_question Должен ли интерфейс быть построен на промисах?
            p
                input.sixthQ_YES(type="radio",name="radio6",value="YES" required)
                |Да
            p
                input.sixthQ_NO(type="radio",name="radio6",value="NOT" required)
                |Нет

        br

        button(id="checkAnswer",title="Get answer") Получить ответ
            
