body{
    background: url("expSystem.jpg") no-repeat;
    background-size: cover;
}

html{
    overflow-x: hidden;
}

//------------first block------------
.firstQ {
    display: block;
    position: relative;
    top:0px;
    right: -10px;
    color:rgb(255, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
//------------------------------------------

//------------second block------------
.secondQ {
    display: block;
    position: relative;
    right: -10px;
    color:rgb(255, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
//------------------------------------------

//------------third block------------
.thirdQ {
    display: block;
    position: relative;
    right: -10px;
    color:rgb(255, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
//------------------------------------------

//------------third block------------
.fourthQ {
    display: block;
    position: relative;
    right: -10px;
    color:rgb(255, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
//------------------------------------------

//------------fifth block------------
.fifthQ {
    display: block;
    position: relative;
    right: -10px;
    color:rgb(255, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
//------------------------------------------

//------------sixth block------------
.sixthQ {
    display: block;
    position: relative;
    right: -10px;
    color:rgb(255, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
//------------------------------------------

//------------introduction block------------
.introduction{
    display: block;
    position: relative;
    top:0px;
    right: -10px;
    color:rgb(255, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:20px;
}
.introduction.secondList{
    display:block;
    position: absolute;
    top:67px;
    left: 100px;
}
//------------------------------------------

//------------a block------------
a{
    color:rgb(255, 255, 0);
}
a:visited{
    color:rgb(250,128,114);
}
a:active{
    color:rgb(255,0,0);
}
a:hover{
    background:rgb(255, 255, 0);
}
//------------------------------------------

//------------seven block------------
#seven {
	color: #524E49;
	background: #fdeaa8;
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 0px 1px 3px; 
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease-out;
}
#seven {
	transform-style: preserve-3d;
}
#seven:after {
	top: -50%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: #fdeaa8;
	border-radius: 5px;
	box-shadow: 0px 1px 3px; 
	content: 'Help';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}
#seven:hover {
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}
//------------------------------------------

//------------checkAnswer block------------
#checkAnswer {
	color: #524E49;
	background: #fdeaa8;
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 0px 1px 3px; 
	position: relative;
    box-sizing: border-box;
    right:-50%;
	transition: all 500ms ease-out;
}
#checkAnswer {
	transform-style: preserve-3d;
}
#checkAnswer:after {
	top: -50%;
	left: 0px;
	width: 100%;
	position: absolute;
	background: #fdeaa8;
	border-radius: 5px;
	box-shadow: 0px 1px 3px; 
	content: 'Get answer';
	transform-origin: left bottom;
	transform: rotateX(90deg);
}
#checkAnswer:hover {
	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}
//------------------------------------------
